<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="./assets/images.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Foodie Delight Team</h4>
                </div>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <div class="container">
                  <p class="small mb-0">
                    Explore a world of culinary excellence with our app! Whether you're craving fine dining or casual eats, we've curated a selection of reputed hotels and restaurants just for you. Discover detailed information to help you make the perfect choice for your next dining adventure.
                    Click the button below to start exploring and find your next favorite spot!
                  </p>
                  <button class="explore-btn" routerLink="/restaurent" mat-raised-button>Explore Now</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>